*/._*
.ipynb_checkpoints/
logs*/
scratch/
old/
sounds/
checkpoints/*
historicallogs/
testout/
log_graph/*
save/
output/
testmodel/
styleout/
data50/*/
data50/validation-*
data50/train-*
data50Q/*/
data50Q/validation-*
data50Q/train-*
data2/validation-*
data2/train-*
*validation-*
*train-*
nohup.out
*.pyc
'#'*
.\#*
\#*
*~
._*
*.zip